
*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background-image: url("../media/pinkGalaxy.png");
    background-repeat: repeat;
    
    font-size: 14px;
    /* Helvetica/Arial-based sans serif stack */
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

#hundred {
	
	width: 100%;
    height: 100%;

}

.wrapper {
	background: #e1dfff;
	border-radius: 25px;
	padding: 25px;
	margin: 35px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
	
}

.flex_grow{
	flex: 1; /* same as flex: 1 1 auto; */
}

.fill-area
{
    display: flex;
    flex-direction: row;
    
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
    
}

html, body, #hundred {
  height: 100%;
  width: 100%;
  
  margin: 0;
  padding: 0;
  display: flex;
}

#canvas{
	border-style:dashed;
	border-width:1px;
	border-color:red;
	background: #ffffff;
	flex: 1 1 auto;
}

div {
	//border-style:solid;
	//border-width:1px;
	//border-color:black;	
}

.menu_div {
	background: #efdfff;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	height: 30px;
	width: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 10px 0 rgba(0, 0, 0, 0.6);
	position:absolute;
	overflow:hidden;
	
	-webkit-transition: width .5s, height .5s; /* Safari */
    transition: width .5s, height .5s;
    transition-timing-function: ease-in-out;
}

.menu_div_nonExpanding{
	background: #efdfff;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 10px 0 rgba(0, 0, 0, 0.6);
	position:absolute;
}

.menu_div:hover{
	width:200px;
	height:250px;
}

.menu_item {
	visibility: hidden;
}

.imageButtonClass
{
    background-repeat: no-repeat; 
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    border: none;    
}

.tooldefault, .tooldefault:active, .tooldefault:focus, .tooldefault:hover
{
	background-image: url(../media/toolIcon.png);   
}
.toolplainLine, #tool_button_plainLine
{
	background-image: url(../media/toolIcon.png);   
}

.toolsketchNoise, #tool_button_sketchNoise
{
	background-image: url(../media/toolIcon.png);   
}
